body {
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 1em;

  background-color: inherit;
}

label {
  font-weight: bold;
  background-color: inherit;
}

input,
textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: inherit;
}

button {
  color: white;
  border: none;
  padding: 0.7em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 5rem;

  background-color: inherit;
}

@media (width < 700px) {
  header {
    gap: 1rem;
  }
}
