* {
  padding: 0;
  margin: 0 auto;

  color: white;
  background-color: #9b804a;
}

body {
  width: 80%;
  padding: 1rem;

  background-color: #303b39;
}

main {
  background-color: inherit;
}

header {
  display: flex;
  flex-direction: row;

  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  border-bottom: dotted;
  margin: 1rem;

  h1 {
    background-color: inherit;
  }

  a {
    font-size: large;
    text-decoration: none;
  }
}

a {
  color: #9b804a;
  background-color: inherit;
}

.page_links {
  display: flex;
  gap: 2ch;

  background-color: inherit;
}

.nav_links {
  background-color: inherit;
}

@media (width < 700px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
}
